<div class="page-header">
  <h3 ng-bind="post.title"></h3>
  <p ng-bind="post.content"></p>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'| orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}}
  <span class="glyphicon glyphicon-thumbs-down"
        ng-click="incrementDownvotes(comment)"></span>
    {{comment.downvotes}} - by {{comment.author}}
  <span style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </span>
</div>

<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>

<form ng-submit="addComment()"
      ng-show="isLoggedIn()"
      style="margin-top:30px;">
  <h3>Add a new comment</h3>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Comment"
           ng-model="body" />
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Author"
           ng-model="author" />
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
